html {
	font-family: Roboto, Georgia, serif;
	color: black;
	background: none;
	text-shadow: none;
}
	
body {
	visibility: hidden;
	font-family: Roboto, Georgia, serif;
	color: black;
	background: none;
	text-shadow: none;
}	

aside {
	visibility: hidden;
	display: none;
}

.print {
	visibility: visible;
	margin: 0 auto;
	display:block;
	top: 8px;
	bottom: 0px;
	max-width: 600px;
}

#info {
	visibility: hidden;
	display: none;
	
}

article span {
	visibility: visible;
	display: block;
	line-height: 1.6;
}

.board {
	color: black !important;
	margin-top: 32px !important;
	margin-bottom: 32px !important;
}

div.box-cell {
	background-color: white !important;
}